#montanha1 {
        background-image: url("../Imagens/montanhawallpaper.jpg");
        width: 100%;
        height: 120vh;
        background-size: cover;
        background-position: bottom center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: absolute;
}
.conteudo{
    position: absolute;
    margin-top: 17%;
    margin-left: 34%;
    font-size: 1rem;
    width: 100%;
    max-width: 450px;
    padding: 55px;
    border-radius: 12px;
    background: #2b2a2a;
}
.conteudo h2{
    color: white;
    margin-bottom: 20px;
}
.topo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}
.topo input{
    width: 350px;
    margin-right: 2px;
    padding: 15px;
    border-radius: 12px;
    border: 1px #191818;
    outline: none;
    font-size: 1.2rem;
    background: #191818;
    color: #FFF;
}
.topo button{
    width: 45px;
    border-radius: 12px;
    border: 1px solid #191818;
    background: #191818;
    color: #FFF;
    outline: none;
}
.topo button:hover{
    background: #1f1e1e;
    cursor: pointer;
}
#lista-produto{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#lista-produto li{
    padding: 20px;
    background: #191818;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}
.btn-acao{
    border-radius: 20px;
    border: 1px solid #191818;
    width: 38px;
    height: 38px;
    margin-right: 8px;
    cursor: pointer;
    background: #2b2a2a;
    color: #FFF;
    outline: none;
}
.btn-acao:hover{
    background: #3c3a3a;
}
.texto-produto{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white;
}
/*Modal*/
#modal-editar{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    background: #191818;
    border: 1px solid #2f2e2e;
    width: 415px;
    border-radius: 12px;
    z-index: 150;
    display: none;
}
#modal-editar.abrir{
    display: block !important;
}
#modal-editar h2{
    color: white;
    display: none;
}
#modal-editar-fundo{
    position: fixed;
    top: 0;
    background-color: #000;
    bottom: 0;
    left: 0;
    opacity: 0.9;
    z-index: 100;
    right: 0;
    display: none;
}
#modal-editar-fundo.abrir{
    display: block !important;
}
#modal-editar-btn-fechar{
    position: absolute;
    top: -25px;
    right: -18px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #2d2c2c;
    background: #2d2c2c;
    color: #FFF;
    outline: none;
    cursor: pointer;
}
form{
    width: 100%;
    margin-top: 20px;
}
.frm-linha{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.frm-linha label{
    margin-bottom: 7px;
    color: white;
    font-size: 25px;
}
.frm-linha input{
    padding: 15px;
    border-radius: 12px;
    outline: none;
    border: 1 solid #191818;
    font-size: 1.2rem;
    background: #2d2c2c;
    color: #FFF;
}
.frm-linha button{
    background: #2d2c2c;
    border: 1px solid #191818;
    padding: 7px;
    margin-bottom: 10px;
    border-radius: 12px;
    color: #CCC;
    cursor: pointer;
    height: 50px;
    font-size: 1.3rem;
    outline: none;
}
.frm-linha button:hover{
    background: #3c3a3a;
}
