@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&family=Nunito:ital,wght@0,300;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #78759ac4;
    font-family: 'Ibarra Real Nova', serif;
}
nav{
    height: 8vh;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    background-color: #23232e;
    z-index: 10;
    /*
    backdrop-filter: blur(2px);
    box-shadow: 0px 3px 0px rgba(255, 255, 255, 0.04);
    */
}
.logo, .cart{
    text-transform: uppercase;
    letter-spacing: 4px;
}
.logo a{
    font-size: 24px;
}
.logo a, .cart a{
    color: rgba(255, 255, 255, 0.877);
    text-decoration: none;
}
.nav-list{
    margin-top: 2vh;
    list-style: none;
    display: flex;
    letter-spacing: 2px;
    font-weight: bold;
    transition: 0.5s ease;
}
.nav-list a{
    color: rgba(255, 255, 255, 0.877);
    text-decoration: none;
}
.nav-list a:hover{
    color: rgba(255, 136, 93, 0.959);
    font-weight: bold;
    transition: 0.5s ease;
}
.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}
.mobile-menu{
    display: none;
    cursor: pointer;
}
.mobile-menu div{
    width: 28px;
    height: 2px;
    background: #fff;
    margin: 6px;
    transition: 0.3s;
}

.nav-list.active{
    transform: translateX(0);
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}
  .mobile-menu.active .line2 {
    opacity: 0;
}
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

/*v*/

main{
    /*font-family: 'Oswald', sans-serif;*/
    /*font-family: 'Alegreya', serif;*/
    font-family: 'Ibarra Real Nova', serif;
}
img{
    width: 100%;
    height: auto;
}
#home{
    font-family: 'Nunito', sans-serif;
    background-image: url("../Imagens/tter.png");
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    
    /*flex-wrap: wrap;*/
}
#home .content1{
    color: rgba(255, 255, 255, 0.877);
    letter-spacing: 4px;
    position: absolute;
    top: 30%;
}
#home .content1 h1{
    font-size: 54px;
}
#home .jungle{
    background-image: url("../Imagens/sad.jpg");
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
/* From uiverse.io by @nikk7007 */
.button {
    --color: rgba(255, 255, 255, 0.877);
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 500;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
   }
.button::before, .button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
.button::before {
    top: -1em;
    left: -1em;
   }
.button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
.button:hover::before, .button:hover::after {
    height: 410px;
    width: 410px;
   }
.button:hover {
    color: rgb(10, 25, 30);
   }
.button:active {
    filter: brightness(.8);
   }
/* From uiverse.io by @nikk7007 */

/*v*/

.container{
    max-width: 100em;
    margin: 0 auto;
}
.content2{
    display: flex;
    align-items: center;
}
.first-text{
    color: rgba(255, 255, 255, 0.877);
    text-align: center;
    margin: 8px;
    letter-spacing: 2px;
}
.first-text h4{
    text-align: start;
}
.first-image{
    box-shadow: 8px 3px 3px rgba(0, 0, 0, 0.233);
    height: 100%;
    width: 200em;
    margin: 30px;
}

/*v*/

.content3{
    display: flex;
    align-items: center;
    overflow-x: hidden;
}
.second-image{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.829);
    height: 100%;
    width: 200em;
    margin: 30px;
}
.second-text{
    color: rgba(255, 255, 255, 0.877);
    text-align: center;
    margin: 8px;
    letter-spacing: 2px;
}

/*v*/

.content4{
    padding-top: 80px;
}
.phrase-area{
    color: rgba(255, 255, 255, 0.877);
    width: 80%;
    margin: auto;
    text-align: center;
}
.tittle-area h1{
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    font-size: 36px;
    font-weight: 600;
}
.subtittle-area h5{
    letter-spacing: 4px;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.boxes {
    display: flex;
    margin-bottom: 70px;
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
}
.boxes a{
    text-decoration: none;
    flex-basis: 30%;
}
.box{
    color: rgba(255, 255, 255, 0.877);
    background: rgba(250, 145, 106, 0.705);
    border-radius: 10px;
    padding: 20px 12px;
    text-align: center;
    border: solid #dfd7d5 2px;
    cursor: pointer;  
    transition: all 0.3s;
}
.box:hover{
    box-shadow: 0 0 50px #78759ac4;
    transition: all 0.5s;
    transform: scale(1.02);  

}
.box-tittle h1{
    font-size: 30px;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 25px;
    text-transform: uppercase;
}
.box-description h3{
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 300;
}

/*v*/

.content5{
    display: block;
}
.background{
    background-color: #78759ac4;
    width: 100%;
    height: 30em;
    display: flex;
    align-items: center;
}
.middle-phrase{
    text-align: center;
    color: rgba(255, 255, 255, 0.877);
    letter-spacing: 4px;
    margin: auto;
}
.bar{
    width: 80px;
    height: 9px;
    background-color: rgba(250, 145, 106, 0.705);
    border-radius: 3px;
    margin: auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 40px;
}
.middle-phrase h1{
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
}
.middle-phrase h3{
    font-size: 20px;
    letter-spacing: 4px;
}

/*v*/

.content6{
    padding-top: 80px;
}
.cards, .cards2, .cards3, .cards4{
    display:flex;
    justify-content: center;
}
.card{
    background-color: #3c3c4e;
    width: 17%;
    height: 100%;
    margin: 15px;
    cursor: pointer;  
    transition: all 0.3s;
    border: none;
    border-radius: 10px;
}
.card:hover{
    box-shadow: 0 0 10px 0px rgba(0,0,0,0.2);
    transition: all 0.4s;
    transform: translateY(-2px); 
}
.product-image{
    transition: 0.3s;
    width: 16em;
}
.product-image:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
.card-information{
    border-radius: 10px;
    color: rgba(37, 37, 37, 0.842);
    background-color: #dfd7d5;
    font-family: 'Nunito', sans-serif;
}
.head-card{
    align-items: baseline;
    justify-content: space-between;
    display: flex;
}
.product-card-name{
    font-weight: 600;
    font-size: 18px;
    text-align: start;
    margin: 10px;
}
.product-card-name a{
    color: rgba(37, 37, 37, 0.842);
    text-decoration: none;
}
.heart{
    margin: 10px;
    transition: all 0.3s;
    font-size: 22px;
}
.heart:hover{
    transition: all 0.3s;
    color: #e23a3a;
}
.star{
    display: flex;
    align-items: baseline;
    margin-top: -15px;
}
.star-icons{
    margin-left: 8px;
}
.products-quantify{
    margin-left: 5px;
}
.product-price-information{
    margin-top: -10px;
    align-items: baseline;
    margin-left: 8px;
}
.product-price{
    display: block;
    font-weight: 600;
}
.product-price-past{
    display: flex;
}
.product-price-information h5{
    color: rgba(5, 124, 5, 0.952);
    margin-left: 5px;
}
.product-price-information h5 s{
    color: gray;
}
.button-line{
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

/*v*/

.content7{
    display: block;
    margin-top: 10em;
    height: 28em;
    background-color: #23232e;
    position: relative;
    z-index: 9;
}
.description{
    display: flex;
    justify-content: space-evenly;
    color: rgba(255, 255, 255, 0.877);
}
.description-1, .description-2, .description-3, .description-4{
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: baseline;
}
.description a{
    color: rgba(255, 255, 255, 0.877);
    text-decoration: none;
    transition: 0.5s ease;
}
.description-general a:hover{
    transition:0.5s ease;
    color: #78759a;
}
.description-tittle{
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    margin-top: -20px;
}
.description-subtittle{
    text-align: baseline;
    color: #78759a;
    margin-top: 20px;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
}
.description-general{
    letter-spacing: 1px;
}
.content7 hr{
    background-color: rgba(255, 255, 255, 0.877);
    width: 90%;
    height: 3px;
    margin: auto;
}
.icons{
    display: flex;
    margin: 30px;
    justify-content: center;
    font-size: 30px;
}
.icons a{
    color: rgba(255, 255, 255, 0.877);
    text-decoration: none;
    margin: 10px;
    transition: all 0.5s;
}
.icons a:hover{
    transition: all 0.5s;
    color: #78759a;
    transform: translateY(2px);
}
.copyright{
    margin-top: -20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.877);
}

@media screen and (max-width: 1200px){
    body{
        background-color: blue;
    }
}
@media (max-width: 999px){
    body{
        overflow-x: hidden;
    }
    .cart{
        display: none;
    }
    .nav-list{
    position: absolute;
    top: 0vh;
    right: 0;
    width: 50vw;
    height: 100vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    }
    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu{
        z-index: 11;
        display: block;
    }
}
@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}