*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    height: 300vh;
    background-color: #b3afb0;
}
header{
    width: 100%;
    position: fixed;
    backdrop-filter: blur(2px);
    font-family: 'Nunito', sans-serif;
    box-shadow: 0px 3px 0px rgba(255, 255, 255, 0.04);
}
#sobreposicao{
    z-index: 9;
}
nav{
    margin-top: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8.5vh;
}
.logo{
    color: rgba(255, 255, 255, 0.877);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 20px;
}
.links{
    margin-top: 2px;
    display: flex;
    justify-content: space-around;
    width: 30%; 
}
.links li{
    list-style: none;
}
.links a{
    color: rgba(255, 255, 255, 0.877);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 14px;
    transition: 0.3s ease;
}
.links a:hover{
    color: coral;
    font-weight: bold;
}
.carrinho{
    color: rgba(255, 255, 255, 0.877);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 20px;
}
main{
    font-family: 'Oswald', sans-serif;
}
img{
    width: 100%;
    height: auto;
}
#home{
    background-image: url("../Imagens/wallpaperbetter.com_1366x768.jpg");
    width: 100%;
    height: 120vh;
    background-size: cover;
    background-position: top center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#home .container{
    font-weight: bold;
    color: rgba(255, 255, 255, 0.877);
    letter-spacing: 4px;
    margin-bottom: 280px;
}
#home .container h3{
    position: absolute;
    font-size: 64px;
}
#home .jungle{
    background-image: url("../Imagens/sad.jpg");
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
/* From uiverse.io by @nikk7007 */
#home .container .button {
    --color: rgba(255, 255, 255, 0.877);
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
    margin-top: 150px;
   }
   #home .container .button::before, .button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
   #home .container .button::before {
    top: -1em;
    left: -1em;
   }
   #home .container .button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   #home .container .button:hover::before, .button:hover::after {
    height: 410px;
    width: 410px;
   }
   #home .container .button:hover {
    color: rgb(10, 25, 30);
   }
   #home .container .button:active {
    filter: brightness(.8);
   }
/* From uiverse.io by @nikk7007 */
#pointer{
    overflow: hidden;
    color: #a2b38b00;
    display: flex;
    position: absolute;
    margin-top: 71.5%;
}
#brand .row .simbolos{
    float: left;
    width: 20%;
    height: auto;
    padding: 0;
    margin-top: -24px;
    font-weight: bold;
    letter-spacing: 4px;
}
#montanha {
    background-image: url("../Imagens/alp.jpg");
    width: 100%;
    height: 140vh;
    background-size: cover;
    background-position: bottom center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    margin-top: 160px;
}
#montanha .mountaineering{
    text-align: center;
    font-weight: bold;
    letter-spacing: 4px;
    margin-bottom: 55%;
    margin-left: 44%;
    text-transform: uppercase;
}
#our .container{
    margin-top: 80px;
    margin-bottom: -25px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 4px;
}
#our .container h3{
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
}
#featured .product{
    margin-left: 11%;
    display: flex;
}
/* From uiverse.io by @alexmaracinaru */
.cta {
    border: none;
    background: none;
    margin-bottom: 10px;
    margin-left: 15px;
   }   
   .cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 18px;
    text-transform: uppercase;
   }  
   .cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
   }
   .cta:hover svg {
    transform: translateX(0);
   }   
   .cta:active svg {
    transform: scale(0.9);
   }   
   .hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
   }  
   .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
   }   
   .cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
   }
/* From uiverse.io by @alexmaracinaru */
#featured .product .card{
    width: 20%;
    margin-top: 28%;
    margin-right: 2%;
    margin-left: 2%;
    align-items: center;
    border-radius: 20px;
    background-color: #898790;
}
#featured .product .card .card-body{
    text-align: center;
}
#featured .product .card .card-body hr{
    width: 100%;
    margin-right: 188px;
    margin-bottom: 20px;
    margin-top: 20px;
}
#paraquedismo {
    background-image: url("../Imagens/paraqudismo.jpg");
    width: 100%;
    height: 120vh;
    background-size: cover;
    background-position: bottom center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    margin-top: 160px;
}
#paraquedismo .skydiving{
    position: absolute;
    text-align: center;
    font-weight: bold;
    letter-spacing: 4px;
    margin-bottom: 45%;
    margin-left: 45%;
    text-transform: uppercase;
}