#meio{
}
.capac{
    overflow-x: hidden;
}
.conteudo{
    display: flex;
    position: relative;
}
.background{
    background-color: #dfd7d5;
    width: 100%;
    height: 300px;
    position: absolute;
}
.conteudo img{
    transform-origin: top right;
    width: 85%;
    height: 85%;

}
.conteudo h2{
    transform-origin: top right;
    font-size: 40px;
    text-align: center;
    margin-top: 200px;
    margin-right: 15px;
}